{{ define "main"}}
	{{- $landing	:= .Site.Params.landing }}
	{{- $image      := index $landing "image" }}
	{{- $title 		:= index $landing "title" }}
	{{- $subtitle 	:= index $landing "subtitle" }}
	{{- $contenttitle := index $landing "contenttitle" }}
	{{- $ul 		:= index $landing "ul" }}

	<div class="is-fullheight is-default is-bold">
		{{ partial "empty_navbar.html" . }}
		<div class="hero-body pt-medium pb-medium">
			<div class="container">
				<div class="title-wrapper has-text-centered">
			      <h2 class="title is-2">{{ $title }}</h2>
			      {{ with $subtitle}}
			      <h3 class="subtitle is-5 is-muted">{{ . }}</h3>
			      {{ end }}
			    </div>
				<div class="columns mt-40">
					<div class="column">
						{{ with $contenttitle}}
						<h3 class="bold">{{ . }}:</h3>
						{{ end }}
						<br>
						<ul class="is-styled line-height-2em">
							{{ range $ul }}
								<li>{{ .li }}</li>
							{{ end }}
						</ul>
					</div>
					<div class="column">
						<figure class="image is-4by5">
							<img src="{{ printf "/images/%s.jpeg" $image | relURL }}" alt="Downloadable Ebook">
						</figure>
					</div>
					<div class="column">
						{{ partial "form.html" . }}
					</div>
				</div>
			</div>
		</div>
	</div>
{{ end }}