{{ define "main" }}
	{{ $pm := .Site.Data.preventivemaintenance }}
	<div class="hero is-fullheight is-default is-bold">
		{{ partial "navbar.html" . }}
		<div class="hero-body">
			<div class="container is-readable">
				<div class="title-wrapper has-text-centered">
			      <h2 class="title is-1">{{ $pm.banner.title }}</h2>
			      {{ range $pm.banner.paras }}
			      <p>{{ .text }}</p>
			      {{ end }}
			  	</div>
			</div>
		</div>
		{{ partial "section6.html" . }}
		{{ partial "why_prev_main.html" . }}
		{{ partial "when_prev_main.html" . }}
	</div>
{{ end }}