{{ define "main" }}
	{{- $thankyou	:= .Site.Params.thankyou }}
	{{- $title 		:= index $thankyou "title" }}
	{{- $subtitle 	:= index $thankyou "subtitle" }}
	{{- $buttons 	:= index $thankyou "buttons"}}
	<div class="is-fullheight is-default is-bold">
		{{ partial "navbar.html" . }}
		<div class="hero-body">
			<div class="container">
				<div class="title-wrapper has-text-centered">
					<h2 class="title is-2 is-spaced">{{ $title }}</h2>
			      	{{ with $subtitle}}
			      	<h3 class="subtitle is-5 is-muted">{{ . }}</h3>
			      	{{ end }}
				</div>
				<div class="flex-responsive align-center justify-center mt-30">
					{{ range $buttons }}
					<a class="button is-outlined is-primary is-info button-width-210 m-lr-20 mb-m-20" href="{{ .buttonLink }}">{{ .buttonText }}</a>
					{{ end }}
				</div>
			</div>
		</div>
	</div>

{{ end }}