<section class="section bg-awards font-s-17 line-height-1point7em">
  <div class="pt-20 pb-20 width-100 mb-80 has-text-centered font-size-17 upper-case bb-thin bt-thin bc-light"> rightcmms blog </div>
  <div class="title-wrapper  has-text-centered mb-80">
    <h1 class="title is-1 is-bold is-spaced">{{ .Title }}</h1>
    {{ with .Params.Subtitle }}
    <p class="subtitle is-5 is-muted">{{ . }}</p>
    {{ end }}
    {{ if (or (.Params.author_name) (.Params.category)) }}
      <p> An article by {{ with .Params.author_name }}<span class="blue-text bold">{{ . }}</span>{{ end }}{{ with .Params.category }} in <span class="blue-text bold">{{ . }}</span>{{ end }}</p>
    {{ end }}
  </div>
  <figure class="image mb-80">
    <img src="{{ .Params.image }}">
  </figure>
  <div class="container is-readable letter-spacing-1px blog-content-container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <!-- <h1 class="title section-title">{{ .Title }}</h1>
        <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5> -->
        <p>{{ .Date.Format "January 2, 2006" }}</p>
      </div>
    </div>
    {{ .Content }}
  </div>
</section>
