@import "bulma/bulma"
@import "fresh/core"

.mt-30
  margin-top: 30px
.m-lr-20
  margin-left: 20px
  margin-right: 20px
.mxh-380
  max-height: 380px
.mxh-450
  max-height: 450px
.mxh-600
  max-height: 600px
.fill
  object-fit: fill
.contain
  object-fit: contain
.cover
  object-fit: cover
.scale-down
  object-fit: scale-down
.none
  object-fit: none
.feature-card
  height: auto
  width: auto
  max-width: 350px
  min-height: 320px
  padding: 25px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px
  .card-text
    padding: 0
  .card-icon img
    margin-top: 0
  .card-title h4
  	padding-top: 0
  	margin-bottom: 20px
.ebook-card
  padding: 25px;
  border-radius: 10px;
  margin: 4px;
  background-color: white
.has-zero-padding
  padding: 0px
.width-100
  width: 100%
.width-auto
  width: auto
.title-wrapper
  max-width: 1280px
.pt-medium
  padding-top: 45px
.pb-medium
  padding-bottom: 45px
.semibold
  font-weight: 500
.bold
  font-weight: 600
.bolder
  font-weight: 700
.line-height-1point5em
  line-height: 1.5em
.line-height-2em
  line-height: 2em
.text-align-right
  text-align: right
.text-align-left
  text-align: left
.text-align-center
  text-align: center
.button-width-210
  min-width: 210px
.flex-vertical
  display: flex
  flex-direction: column
  align-items: center
.flex-responsive
  display: flex
  flex-direction: row
.align-center
  align-items: center
.justify-center
  justify-content: center
img.lazy
  filter: blur(20px)
.transition
  transition: all 0.3s ease-in-out
ul.is-styled
  list-style: inside
h1
  font-size: 2em
  font-weight: normal
h2
  font-size: 1.5em
  font-weight: normal
h3
  font-size: 1.17em
  font-weight: normal
h4
  font-size: 1em
  font-weight: normal
@media(max-width: 767px)
  .mb-m-20
    margin-bottom: 20px
  .flex-responsive
    flex-direction: column
  img.pushed-image
    margin-top: -14vh
.container.is-readable
  margin: 0 auto
  position: relative
  +desktop
    max-width: $desktop - (6 * $gap)
    width: $desktop - (6 * $gap)
    &.is-fluid
      margin-left: $gap
      margin-right: $gap
      max-width: none
      width: auto
  +until-widescreen
    &.is-widescreen
      max-width: $widescreen - (6 * $gap)
      width: auto
  +until-fullhd
    &.is-fullhd
      max-width: $fullhd - (6 * $gap)
      width: auto
  +widescreen
    max-width: $widescreen - (6 * $gap)
    width: $widescreen - (6 * $gap)
  +fullhd
    max-width: $fullhd - (6 * $gap)
    width: $fullhd - (6 * $gap)