<div class="columns">
  <div class="column is-12">
    <form>
      <div class="columns is-multiline">
        <div class="column is-6">
          <input class="input is-primary" type="text" name="fname" placeholder="First name">
        </div>
        <div class="column is-6">
          <input class="input is-primary" type="text" name="lname" placeholder="Last name">
        </div>
        <div class="column is-12">
          <input class="input is-info" type="email" name="email" placeholder="Enter your email address">
        </div>
        <div class="column is-12">
          <input class="input is-info" type="tel" name="telephone" placeholder="Enter your phone number">
        </div>
        <div class="column is-12">
          <input class="input is-primary" type="text" name="compay" placeholder="Company name">
        </div>
        <div class="field column">
          <div class="control">
            <div class="select is-primary width-100">
              <select placeholder="Role" class="width-100">
                <option>Option</option>
                <option>Option</option>
                <option>Option</option>
                <option>Option</option>
                <option>Option</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-footer has-text-centered mt-20">
          <button class="button cta is-large primary-btn raised is-clear">Download</button>
        </div>
      </div>
    </form>
  </div>
</div>