{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
{{- $image    := index $section2 "image" }}
<section class="section is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-centered-tablet-portrait">
          <img src="{{ printf "/images/%s" $image | relURL }}" class="cover mxh-450" alt="mountains description">
        </div>
        <div class="column is-7">
          {{- range $features }}
          <article class="media icon-box">
            <figure class="media-left">
              <p class="image">
                <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
              </p>
            </figure>
            <div class="media-content  mt-20">
              <div class="content">
                <p>
                  <span class="icon-box-title">{{ .title }}</span>

                  <span class="icon-box-text">{{ .text }}</span>
                </p>
              </div>
            </div>
          </article>
          {{- end }}
        </div>
      </div>
    </div>
  </div>
</section>