{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $clients  := index $section4 "clients" }}
{{- $ebooks   := index $section4 "ebooks"}}
<section class="section is-medium section-secondary">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
        {{- range $clients }}
        <div class="column is-4">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-image">
                <img src="{{ printf "/images/illustrations/faces/%s.png" (string .img) | relURL }}">
            </div>
            <div class="card-title mt-20">
              <h4>{{ .name }}</h4>
            </div>
            <div class="card-text mb-20">
                <p>{{ .text }}</p>
            </div>
            {{ if .buttonText }}
            <div class="card-action">
              <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
            </div>
            {{ end }}
          </div>
          <!-- <figure class="testimonial">
            <blockquote>
              {{ .quote }}
            </blockquote>
            <div class="author">
              <img src="{{ printf "/images/illustrations/faces/%s.png" (string .img) | relURL }}" alt=""/>
              <h5>{{ .name }}</h5>
              <span>{{ .job }}</span>
            </div>
          </figure> -->
        </div>
        {{- end }}
      </div>
      <div class="columns is-vcentered">
        {{- range $ebooks }}
          <div class="column is-6">
            <article class="ebook-card icon-box columns is-mobile">
              <img class="column is-5 has-zero-padding cover" src="{{ printf "/images/illustrations/faces/%s.png" (string .img) | relURL }}">
              <div class="media-content column is-7">
                <div class="content">
                  <p>
                    <span class="icon-box-title">{{ .title }}</span>

                    {{ if .buttonText }}
                    <div class="card-action">
                      <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
                    </div>
                    {{ end }}
                  </p>
                </div>
              </div>
            </article>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>