{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
{{- $image    := index $section2 "image" }}
{{- $lazyimage:= index $section2 "lazyimage" }}
{{- $alt      := index $section2 "alt" }}
<section class="section is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-centered-tablet-portrait is-5-desktop is-half-tablet mb-m-30">
          <figure class="image is-5by4">
            <img src="{{ printf "/images/illustrations/mockups/%s" $lazyimage | relURL }}" data-src="{{ printf "/images/illustrations/mockups/%s" $image | relURL }}" class="transition lazy contain" alt="{{ $alt }}">
          </figure>
        </div>
        <div class="column is-7-desktop is-half-tablet">
          {{- range $features }}
          <article class="media icon-box">
            <!-- <figure class="media-left">
              <p class="image">
                <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
              </p>
            </figure> -->
            <div class="media-content has-text-centered has-text-left-tablet">
              <div class="content">
                <p>
                  <span class="icon-box-title">{{ .title }}</span>

                  <span class="icon-box-text">{{ .text }}</span>
                </p>
              </div>
            </div>
          </article>
          {{- end }}
        </div>
      </div>
    </div>
  </div>
</section>